/* Global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    position: relative;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* specific*/
header {
    margin: 10px;
    color: #a62639;
}

main {
    border-radius: 5px;
    flex-direction: column;
}

main p, h2 {
    text-transform: uppercase;
}

#globalScore-1, #globalScore-0{
    font-size: 60px;
    color: #a62639;
}

section{
    background-color: white;
    flex-direction: column;
    border-radius: 5px;
    width: 80vw;
    padding: 10px;
    height: 50vh;
}

.current-box{
    flex-direction: column;
    background-color: #a62639;
    color : white;
    border-radius: 5px;
    padding: 15px;
}

.btn{
    margin: 5px;
    padding: 5px;
}

footer {
    flex-direction: column;
    padding: 10px;
    background-color:white;
    bottom: 0;
    color: #a62639;
}

.bi{
    font-size: 20px;
    color: #a62639;
}

.hidden {
    display: none;
}

#diceImg{
    width: 90px;
    height: 90px;
    border-radius: 25px;
    margin-top: 10px;
}

/*Screen desktop*/

@media (min-width : 915px) {
    main{
        flex-direction: row;
        position: relative;
        height: 75vh;
    }

    .btn {
        position: absolute;
    }

    #newGame {
        top: 4%;
    }
    
    #hold {
        bottom: 35%;
    }
    
    #rollDice{
        bottom: 25%;
    }

    #diceImg {
        position: absolute;
        bottom: 55%;
    }
}