body{
    background-color: #E2E2E2;
    font-family: 'Lato', sans-serif;
    border : solid 10px #384D48;
}

.container {
    background-color: #ACAD94;
}

.player-One-Container{
    background-color: #6E7271;
}

.player-Two-Container {
    background-color: #6E7271;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bi{
    font-size: 36px;
}